#users_column,
#reviews_column {
    display: inline-block;
    width: 40%;
    margin: 4%;
}

.user-card,
.review-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    width: 100%; /* Adjust the width as needed */
    text-align: left;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.user-card img {
    width: 50%;
    object-fit: cover;
    float: right;
}

.status-dropdown {
    margin-top: 10px;
    padding: 5px;
    font-size: 14px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}
